.footer{
  width:1200px;
  margin:0 auto;
  margin-top: 80px;
}
.footer .foot_left{
  float:left;
  text-align: left;
  margin-bottom: 20px;
  width: 876px;
}
 .footer .foot_left .fir{
    font-size: 24px;
    color: rgb(34, 34, 34);
    margin-bottom: 40px;
    font-family:Regular;
    letter-spacing: 1px;
    font-weight: 600;
 }
 .footer .foot_left p{
  font-size: 20px;
  color: rgb(1, 1, 1);
  margin: 0 0 22px 0;
 }
 .footer .foot_left p i{
  font-style:normal;
  font-size: 18px;
  display: inline-block;
  margin-right: 10px;

}
.footer .foot_left p i span{
  width: 28px;
  display: inline-block;
}
  .footer .foot_right{
    float:right
  }
  .footer .foot_right div{
    text-align: center;
    color:rgb(72, 72, 72);
    font-weight: 600;
    margin-top: 6px;
  }
 .footer .foot_right .f_right,
 .footer .foot_right .f_left
 {
     float: right;
 }
 .foot_right .f_right img{
  padding:7px;
  border: 1px solid rgb(236, 236, 236);
}
 .footer .foot_right .f_left{
   margin-left:32px;
 }
 .footer .foot_right p{
   margin:0;
   font-size: 12px;
   font-weight: 400;
   width: 128px;
 }
 .footer .foot_bottom{
    text-align:center;
 }
 .footer .foot_bottom p{
  display: inline-block;
  font-size: 16px;
 }
